.text{
    font-size: 25px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
    color: blue;
    background-color: yellowgreen;
    text-align: center;

}