.page-title{
    color: white;
    background-color: #890000;
    font-size: 100px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(197, 151, 197);
}
.main-box{
     width: 90%;
     margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    column-gap: 100px;
    border-left: 5px solid crimson;
    border-right: 5px solid crimson;
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px grey;
    padding: 2px 10px;
}
.img-box{
    width:320px ;
    height: 500px;
    background-color:rgb(204, 122, 72);
    position: relative;
    margin-top: 45px;
       
    
}
.img-box img{
    width: 180px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: -50px;

}
.myimg{
    object-fit:cover ;
    object-position: center;
}
i{
    font-size: 30px;
    padding: 4px;
} 
i:hover{
    transition: 350ms ease-in-out;
    transform: rotate(347deg);
    box-shadow: 0 0 8px green;
    font-size:41px ;
    color:crimson;
    cursor: pointer;
    /* padding: 6px; */
}
   


.txt-box{
    width: 600px;
}
#btn{
    border: none;
    background-color: rgb(204, 122, 72);
    font-size: 1.2rem;
    padding: 5px 10px;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
    border-radius: 20px;
    

}
#btn:hover{
    cursor: pointer;
    border-left: 2px solid aqua;
    border-right: 2px solid aqua;
    transition: 200ms ease-in-out;
    box-shadow: 5px 5px 5px grey;
    transform: scale(1.1);
    
}
*{
    font-family: Playfair Display;
}
.body{
    font-family: Inter;
}